<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px] 2xl:py-[150px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="text-center mb-[25px] md:mb-[35px] lg:mb-[40px] xl:mb-[50px] 2xl:mb-[60px] relative z-[1] ml-auto mr-auto lg:max-w-[725px]" data-aos="fade-up" data-aos-duration="500">
            <img src="assets/images/shapes/shape1.png" class="hidden md:inline absolute -z-[1] ml-auto mr-auto md:left-0 lg:left-[120px] right-0 top-[15px] lg:top-[23px]" alt="shape-image">
            <h2 class="font-bold text-[#110e2e] text-[24px] md:text-[30px] lg:text-[34px] leading-[1.3] mb-[10px] md:mb-[20px]">
                See why our Customers Love Us
            </h2>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8] ml-auto mr-auto md:max-w-[655px]">
                The app uses AI algorithms to analyze the audio input and generate anti-noise signals to cancel out unwanted background noise.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="rounded-[7px] bg-[#f7f5f0] px-[20px] py-[25px] sm:p-[25px] lg:p-[30px] xl:p-[40px] 2xl:p-[45px]" data-aos="fade-up" data-aos-duration="500">
                <img src="assets/images/ratings/rating1.png" class="mb-[15px] md:mb-[20px] lg:mb-[25px]" alt="rating">
                <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] lg:mb-[14px] leading-[1.3]">
                    This remarkable app has revolutionized the way I experience peace and quiet
                </h3>
                <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                    The user interface is sleek, intuitive, and incredibly user-friendly. Navigating through the app is a breeze, and its minimalist design ensures a seamless experience. I appreciate how the app provides a wide range of customizable settings, allowing me to adjust the intensity and depth of noise cancellation to suit my surroundings.
                </p>
                <img src="assets/images/ratings/trustpilot.png" class="mt-[15px] lg:mt-[25px]" alt="trustpilot">
            </div>
            <div class="rounded-[7px] bg-[#f7f5f0] px-[20px] py-[25px] sm:p-[25px] lg:p-[30px] xl:p-[40px] 2xl:p-[45px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <img src="assets/images/ratings/rating2.png" class="mb-[15px] md:mb-[20px] lg:mb-[25px]" alt="rating">
                <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] lg:mb-[14px] leading-[1.3]">
                    I've always longed for moments of tranquility in our bustling world
                </h3>
                <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                    The user interface is sleek, intuitive, and incredibly user-friendly. Navigating through the app is a breeze, and its minimalist design ensures a seamless experience. I appreciate how the app provides a wide range of customizable settings, allowing me to adjust the intensity and depth of noise cancellation to suit my surroundings.
                </p>
                <img src="assets/images/ratings/trustpilot.png" class="mt-[15px] lg:mt-[25px]" alt="trustpilot">
            </div>
            <div class="rounded-[7px] bg-[#f7f5f0] px-[20px] py-[25px] sm:p-[25px] lg:p-[30px] xl:p-[40px] 2xl:p-[45px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <img src="assets/images/ratings/rating1.png" class="mb-[15px] md:mb-[20px] lg:mb-[25px]" alt="rating">
                <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] lg:mb-[14px] leading-[1.3]">
                    Thankfully, I stumbled upon the ultimate solution - the Noise Cancel app
                </h3>
                <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                    The user interface is sleek, intuitive, and incredibly user-friendly. Navigating through the app is a breeze, and its minimalist design ensures a seamless experience. I appreciate how the app provides a wide range of customizable settings, allowing me to adjust the intensity and depth of noise cancellation to suit my surroundings.
                </p>
                <img src="assets/images/ratings/trustpilot.png" class="mt-[15px] lg:mt-[25px]" alt="trustpilot">
            </div>
        </div>
    </div>
</div>