<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px] 2xl:py-[150px] bg-[#f7f5f0]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="text-center mb-[25px] md:mb-[35px] lg:mb-[40px] xl:mb-[50px] 2xl:mb-[60px] relative z-[1] ml-auto mr-auto lg:max-w-[725px]" data-aos="fade-up" data-aos-duration="500">
            <img src="assets/images/shapes/shape1.png" class="hidden md:inline absolute -z-[1] ml-auto mr-auto md:left-0 lg:left-[18px] right-0 top-[15px] lg:top-[27px]" alt="shape-image">
            <h2 class="font-bold text-[#110e2e] text-[24px] md:text-[30px] lg:text-[34px] leading-[1.3] mb-[10px] md:mb-[20px]">
                Frequently Asked Questions
            </h2>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8] ml-auto mr-auto md:max-w-[655px]">
                The app uses AI algorithms to analyze the audio input and generate anti-noise signals to cancel out unwanted background noise.
            </p>
        </div>
        <div class="accordion ml-auto mr-auto lg:max-w-[800px] xl:max-w-[875px]">
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                    What is a noise-canceling app?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(0) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                    How does a noise-canceling app work?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(1) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                    Can a noise-canceling app completely eliminate all types of noise?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(2) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                    What devices are compatible with noise-canceling apps?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(3) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
                    Are noise-canceling apps free?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(4) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(5)" [ngClass]="{ 'open': isSectionOpen(5) }">
                    Do noise-canceling apps work with all headphones?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(5) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(6)" [ngClass]="{ 'open': isSectionOpen(6) }">
                    Can I use a noise-canceling app during phone calls or video conferencing?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(6) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(7)" [ngClass]="{ 'open': isSectionOpen(7) }">
                    Can I customize the level of noise cancellation with these apps?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(7) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="900">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-bold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(8)" [ngClass]="{ 'open': isSectionOpen(8) }">
                    Are noise-canceling apps only for music or audio playback?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(8) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            A noise-canceling app is a software application that uses advanced algorithms to reduce or eliminate background noise and enhance the clarity of audio signals. It is designed to provide a more immersive and focused listening experience by minimizing unwanted sounds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>