<app-adml-navbar></app-adml-navbar>

<div class="bg-[#f3eae1]">

    <app-adml-banner></app-adml-banner>

    <app-adml-partners></app-adml-partners>

    <app-adml-about id="about"></app-adml-about>

    <app-adml-features></app-adml-features>

    <app-adml-testimonials id="testimonials"></app-adml-testimonials>

    <app-adml-services id="services"></app-adml-services>

    <app-adml-what-canora-do></app-adml-what-canora-do>

    <app-adml-cta></app-adml-cta>

    <app-adml-blog id="blog"></app-adml-blog>

</div>

<app-adml-footer></app-adml-footer>