<div class="py-[40px] md:py-[60px] lg:py-[80px] xl:py-[90px] bg-[#358357]">
    <div class="mx-auto px-[12px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1920px] 2xl:px-[30px] 3xl:px-[120px]">
        <div class="flex flex-wrap justify-between items-center gap-[5px] md:gap-[15px] 3xl:gap-[25px]" data-aos="fade-up" data-aos-duration="500">
            <span class="text-white text-[20px] md:text-[25px] lg:text-[21px] 3xl:text-[34px] font-medium leading-none">
                BigTech
            </span>
            <img src="assets/images/shapes/shape21.png" class="inline-block" alt="shape">
            <span class="text-white text-[20px] md:text-[25px] lg:text-[21px] 3xl:text-[34px] font-medium leading-none">
                EnvyTheme
            </span>
            <img src="assets/images/shapes/shape21.png" class="inline-block" alt="shape">
            <span class="text-white text-[20px] md:text-[25px] lg:text-[21px] 3xl:text-[34px] font-medium leading-none">
                MarketingVast
            </span>
            <img src="assets/images/shapes/shape21.png" class="inline-block" alt="shape">
            <span class="text-white text-[20px] md:text-[25px] lg:text-[21px] 3xl:text-[34px] font-medium leading-none">
                HiboTheme
            </span>
            <img src="assets/images/shapes/shape21.png" class="inline-block" alt="shape">
            <span class="text-white text-[20px] md:text-[25px] lg:text-[21px] 3xl:text-[34px] font-medium leading-none">
                Spartan
            </span>
            <img src="assets/images/shapes/shape21.png" class="inline-block" alt="shape">
            <span class="text-white text-[20px] md:text-[25px] lg:text-[21px] 3xl:text-[34px] font-medium leading-none">
                GoldBird
            </span>
        </div>
    </div>
</div>