<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px] 2xl:py-[150px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
            <div class="self-center" data-aos="fade-up" data-aos-duration="500">
                <div class="relative z-[1] 2xl:max-w-[440px] mb-[2px] md:mb-[20px] lg:mb-[5px] xl:mb-[30px]">
                    <img src="assets/images/shapes/shape1.png" class="hidden md:inline absolute -z-[1] right-0 md:right-auto lg:right-[80px] md:left-[80px] lg:left-auto top-[40px] lg:top-[68px]" alt="shape-image">
                    <h2 class="font-bold text-[#110e2e] text-[24px] md:text-[30px] lg:text-[34px] leading-[1.3] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                        A Perfect Noise Removal Solution for Meetings and Audio
                    </h2>
                    <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8] 2xl:max-w-[425px]">
                        The app uses AI algorithms to analyze the audio input and generate anti-noise signals to cancel out unwanted background noise.
                    </p>
                </div>
                <a href="javascript:void(0);" class="inline-block relative text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] text-[#110e2e] font-semibold rounded-[4px] bg-[#75e6e3] py-[14px] md:py-[15px] lg:py-[16px] pr-[22px] pl-[62px] md:pr-[25px] md:pl-[68px] lg:pr-[33px] lg:pl-[67px] transition-all hover:bg-[#ffdd6f] mr-[20px] xl:mr-[15px] 2xl:mr-[20px] last:mr-0 mt-[15px] md:mt-0 lg:mt-[20px] xl:mt-0">
                    <span class="absolute left-[21px] md:left-[25px] lg:left-[23px] top-1/2 -translate-y-2/4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                            <path d="M24.8646 29.575C23.4354 30.9604 21.875 30.7417 20.3729 30.0854C18.7833 29.4146 17.325 29.3854 15.6479 30.0854C13.5479 30.9896 12.4396 30.7271 11.1854 29.575C4.06872 22.2396 5.11873 11.0687 13.1979 10.6604C15.1666 10.7625 16.5375 11.7396 17.6896 11.8271C19.4104 11.4771 21.0583 10.4708 22.8958 10.6021C25.0979 10.7771 26.7604 11.6521 27.8541 13.2271C23.3041 15.9542 24.3833 21.9479 28.5541 23.625C27.7229 25.8125 26.6437 27.9854 24.85 29.5896L24.8646 29.575ZM17.5437 10.5729C17.325 7.32083 19.9646 4.6375 22.9979 4.375C23.4208 8.1375 19.5854 10.9375 17.5437 10.5729Z" fill="#110e2e"/>
                        </svg>
                    </span>
                    Download for Mac
                </a>
                <a href="javascript:void(0);" class="inline-block relative text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] text-[#110e2e] font-semibold rounded-[4px] bg-[#ffdd6f] py-[14px] md:py-[15px] lg:py-[16px] pr-[22px] pl-[62px] md:pr-[25px] md:pl-[68px] lg:pr-[30px] lg:pl-[67px] transition-all hover:bg-[#75e6e3] mr-[20px] xl:mr-[15px] 2xl:mr-[20px] last:mr-0 mt-[15px] md:mt-0 lg:mt-[20px] xl:mt-0">
                    <span class="absolute left-[21px] md:left-[25px] lg:left-[23px] top-1/2 -translate-y-2/4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                            <path d="M3.87629 7.07704L13.4049 5.76471V14.9704H3.875V7.07833L3.87629 7.07704ZM3.87629 23.923L13.4049 25.2366V16.1432H3.875L3.87629 23.923ZM14.4525 25.3761L27.1263 27.125V16.1432H14.4525V25.3761ZM14.4525 5.62392V14.9704H27.1263V3.875L14.4525 5.62392Z" fill="#110e2e"/>
                        </svg>
                    </span>
                    Download for Windows
                </a>
            </div>
            <div class="self-center text-center lg:pl-[50px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <img src="assets/images/download.png" class="inline" alt="download-image">
            </div>
        </div>
    </div>
</div>