<div class="bg-image pt-[130px] md:pt-[170px] lg:pt-[250px] pb-[60px] md:pb-[100px] lg:pb-[260px] relative z-[1] after:absolute after:left-0 after:right-0 after:top-0 after:-z-[2] after:bg-white after:h-[100%] md:after:h-[75%] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-center before:bg-no-repeat before:bg-cover before:-z-[1] before:h-[232px] before:hidden md:before:block">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="text-center ml-auto mr-auto lg:max-w-[785px] 2xl:max-w-[880px] mb-[20px] lg:mb-0" data-aos="fade-up" data-aos-duration="500">
            <span class="block leading-none text-[#ff2b60] text-[15px] md:text-[17px] lg:text-[18px] 2xl:text-[20px] mb-[13px] md:mb-[15px]">
                Timeless Appeal
            </span>
            <h1 class="text-[#110e2e] font-bold text-[28px] md:text-[38px] lg:text-[50px] 2xl:text-[56px] leading-[1.25] mb-[11px] md:mb-[14px] xl:mb-[18px]">
                Level Up Your Online Presence: Canora's Free AI Profile Picture Maker
            </h1>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] text-[#666666] leading-[1.8] ml-auto mr-auto lg:max-w-[720px] 2xl:max-w-[790px]">
                AI profile picture generators, discover the essence of your digital self. Harnessing the power of artificial intelligence, these cutting-edge tools capture your unique personality
            </p>
            <a href="javascript:void(0);" class="btn-box-shadow mt-[20px] md:mt-[25px] lg:mt-[30px] xl:mt-[35px] 2xl:mt-[40px] relative inline-block bg-[#0099ff] text-white rounded-[50px] font-medium text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] py-[16px] pl-[65px] md:pl-[80px] pr-[30px] md:pr-[40px] transition-all hover:bg-[#ff2b60]">
                <span class="absolute left-[30px] md:left-[40px] top-1/2 -translate-y-2/4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_278_695)">
                            <path d="M6.2499 19.5C4.6489 19.5 3.2249 18.475 2.7079 16.949L2.6729 16.834C2.5509 16.43 2.4999 16.09 2.4999 15.75V8.932L0.0738996 17.03C-0.2381 18.221 0.4729 19.456 1.6659 19.785L17.1289 23.926C17.3219 23.976 17.5149 24 17.7049 24C18.7009 24 19.6109 23.339 19.8659 22.365L20.7669 19.5H6.2499Z" fill="white"/>
                            <path d="M9 9C10.103 9 11 8.103 11 7C11 5.897 10.103 5 9 5C7.897 5 7 5.897 7 7C7 8.103 7.897 9 9 9Z" fill="white"/>
                            <path d="M21.5 2H6.5C5.122 2 4 3.122 4 4.5V15.5C4 16.878 5.122 18 6.5 18H21.5C22.878 18 24 16.878 24 15.5V4.5C24 3.122 22.878 2 21.5 2ZM6.5 4H21.5C21.776 4 22 4.224 22 4.5V11.599L18.841 7.913C18.506 7.52 18.021 7.31 17.5 7.298C16.982 7.301 16.496 7.531 16.164 7.929L12.45 12.387L11.24 11.18C10.556 10.496 9.443 10.496 8.76 11.18L6 13.939V4.5C6 4.224 6.224 4 6.5 4Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_278_695">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </span>
                Get Started It’s Free
            </a>
        </div>
        <div class="text-center">
            <div class="image-box-shadow inline-block mx-[10px] lg:mx-0 mt-[10px] lg:mt-0 w-[100px] h-[100px] xl:w-[150px] xl:h-[150px] top-[15.1%] left-[16.5%] xl:left-[13%] 2xl:left-[14.5%] 3xl:left-[16.5%] lg:absolute p-[5px] xl:p-[8px] bg-[#ededed] z-[1]" data-aos="fade-up" data-aos-duration="500">
                <img src="assets/images/users/user4.jpg" alt="user">
            </div>
            <div class="gradient-color1 inline-block mx-[10px] lg:mx-0 mt-[10px] lg:mt-0 w-[100px] h-[100px] xl:w-[184px] xl:h-[184px] p-[5px] xl:p-[8px] top-[47%] xl:top-[39%] 2xl:top-[37%] left-[2%] xl:left-[3%] 2xl:left-[4.2%] 3xl:left-[6.2%] lg:absolute rounded-full" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <img src="assets/images/users/user5.jpg" class="rounded-full" alt="user">
            </div>
            <div class="gradient-color2 inline-block mx-[10px] lg:mx-0 mt-[10px] lg:mt-0 w-[100px] h-[100px] lg:w-[147px] lg:h-[147px] p-[5px] xl:p-[8px] left-[12%] bottom-[14%] xl:left-[14.4%] xl:bottom-[17%] 3xl:bottom-[20%] rounded-full lg:absolute z-[1]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <img src="assets/images/users/user6.jpg" class="rounded-full" alt="user">
            </div>
            <div class="hidden lg:block left-[15.5%] bottom-[15%] xl:left-[15.8%] xl:bottom-[15.5%] 2xl:bottom-[18.5%] absolute">
                <img src="assets/images/shapes/shape7.png" alt="shape">
            </div>
            <div class="hidden lg:block left-[35.5%] bottom-[14%] rounded-full absolute">
                <img src="assets/images/shapes/shape8.png" alt="shape">
            </div>
            <div class="hidden lg:block right-[32.5%] top-[18%] rounded-full absolute">
                <img src="assets/images/shapes/shape9.png" alt="shape">
            </div>
            <div class="gradient-color3 inline-block mx-[10px] lg:mx-0 mt-[10px] lg:mt-0 w-[100px] h-[100px] lg:w-[120px] lg:h-[120px] xl:w-[156px] xl:h-[156px] p-[5px] xl:p-[8px] right-[12%] top-[15%] xl:right-[10%] 2xl:right-[14%] 3xl:right-[16.4%] xl:top-[16.6%] rounded-full lg:absolute z-[1]" data-aos="fade-up" data-aos-duration="500">
                <img src="assets/images/users/user7.jpg" class="rounded-full" alt="user">
            </div>
            <div class="hidden lg:block right-[11%] top-[14%] xl:right-[12.2%] 2xl:right-[16.2%] 3xl:right-[18.2%] xl:top-[15.5%] absolute">
                <img src="assets/images/shapes/shape7.png" alt="shape">
            </div>
            <div class="gradient-color4 inline-block mx-[10px] lg:mx-0 mt-[10px] lg:mt-0 w-[100px] h-[100px] xl:w-[129px] xl:h-[129px] p-[5px] xl:p-[8px] top-[55%] right-[3%] xl:top-[45.4%] xl:right-[4%] 2xl:right-[5%] 3xl:right-[7.5%] lg:absolute z-[1]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <img src="assets/images/users/user8.jpg" alt="user">
            </div>
            <div class="gradient-color5 inline-block mx-[10px] lg:mx-0 mt-[10px] lg:mt-0 w-[100px] h-[100px] lg:w-[150px] lg:h-[150px] xl:w-[184px] xl:h-[184px] p-[5px] xl:p-[8px] bottom-[10%] right-[18%] xl:bottom-[12%] xl:right-[17%] 2xl:bottom-[12%] 3xl:bottom-[14%] 2xl:right-[21%] lg:absolute rounded-full" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <img src="assets/images/users/user9.jpg" class="rounded-full" alt="user">
            </div>
            <div class="hidden lg:block left-[19.9%] xl:left-[19.8%] 2xl:left-[20.8%] top-[13.5%] absolute">
                <img src="assets/images/shapes/shape10.png" alt="shape">
            </div>
            <div class="hidden lg:block right-[6.7%] bottom-[37%] absolute">
                <img src="assets/images/shapes/shape11.png" alt="shape">
            </div>
            <div class="hidden 2xl:block absolute top-[25%] left-[.2%] 3xl:left-[7.2%] -z-[1]">
                <img src="assets/images/shapes/shape12.png" alt="shape">
            </div>
            <div class="hidden 2xl:block absolute top-[29.3%] right-[.4%] 3xl:right-[9.4%] -z-[1]">
                <img src="assets/images/shapes/shape13.png" alt="shape">
            </div>
        </div>
    </div>
</div>