img {
  width: 80vh;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  img {
    width: 80vw;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  img {
    width: 80vw;
  }
}

.isSticky {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    } to {
        opacity: 1;
        transform: translateZ(0)
    }
}
