<div
    class="py-[25px]"
    [ngClass]="{'isSticky sticky top-0 left-0 right-0 z-[991] bg-white': isSticky}"
>
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="flex items-center justify-between">
            <div>
                <a routerLink="/" class="inline-block">
                    <img src="assets/images/logo.png" alt="logo">
                </a>
            </div>
            <div>
                <a routerLink="/" class="inline-block text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] text-[#110e2e] font-semibold rounded-[7px] bg-[#ffdd6f] px-[25px] md:px-[35px] lg:px-[40px] py-[13px] md:py-[14px] lg:py-[16px] transition-all hover:bg-[#75e6e3]">
                    Back to Home
                </a>
            </div>
        </div>
    </div>
</div>