// Sidebar Btn
.sidebar-btn {
    button {
        transition: padding-right 0.3s ease 0s;
        box-shadow: rgb(0, 0, 0, .15) 0px 0px 10px;

        span {
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    }
}

// Sidebar Demos Popup
.sidebar-demos-popup {
    @apply opacity-0;
    @apply invisible;
    transition: .5s;

    .inner-demos {
        width: calc(100% + 20px);

        .demos-list {
            box-shadow: rgb(23, 53, 102, .50) 0 15px 50px 0;

            .filter-shadow {
                filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
            }
        }
    }
    &.active {
        @apply opacity-100;
        @apply visible;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .sidebar-demos-popup {
        .inner-demos {
            @apply w-full;
            @apply mr-0;
        }
    }

}