<div
    class="navbar-area py-[25px] md:py-[30px] 2xl:py-[37px] fixed top-0 left-0 right-0 z-[991]"
    [ngClass]="{'isSticky bg-white': isSticky}"
>
    <div class="mx-auto px-[12px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1920px] 2xl:px-[30px] 3xl:px-[120px]">
        <nav class="navbar relative lg:flex flex-wrap" [class.active]="classApplied">
            <div class="self-center">
                <div
                    class="inline-block cursor-pointer"
                    (click)="scrollTo('home')"
                >
                    <img src="assets/images/logo.png" class="inline" alt="logo">
                </div>
            </div>
            <button
                class="navbar-toggler absolute ml-auto right-0 -top-[2px] lg:hidden"
                (click)="toggleClass()"
                type="button"
            >
                <span class="burger-menu text-black cursor-pointer leading-none text-[30px]">
                    <i class="ri-menu-line"></i>
                </span>
            </button>
            <div class="navbar-collapse flex self-center grow basis-auto">
                <ul class="navbar-nav self-center flex-row lg:ml-auto lg:flex">
                    <li
                        class="nav-item text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none mt-[21px] lg:mt-0 first:mt-0 lg:ml-[16px] lg:mr-[16px] xl:ml-[20px] xl:mr-[20px] 2xl:ml-[25px] 2xl:mr-[25px] first:ml-0 last:mr-0"
                        (click)="scrollTo('home')"
                    >
                        <span class="nav-link text-[#110e2e] transition-all hover:text-[#0099ff] cursor-pointer">
                            Home
                        </span>
                    </li>
                    <li
                        class="nav-item text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none mt-[21px] lg:mt-0 first:mt-0 lg:ml-[16px] lg:mr-[16px] xl:ml-[20px] xl:mr-[20px] 2xl:ml-[25px] 2xl:mr-[25px] first:ml-0 last:mr-0"
                        (click)="scrollTo('features')"
                    >
                        <span class="nav-link text-[#110e2e] transition-all hover:text-[#0099ff] cursor-pointer">
                            Features
                        </span>
                    </li>
                    <li
                        class="nav-item text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none mt-[21px] lg:mt-0 first:mt-0 lg:ml-[16px] lg:mr-[16px] xl:ml-[20px] xl:mr-[20px] 2xl:ml-[25px] 2xl:mr-[25px] first:ml-0 last:mr-0"
                        (click)="scrollTo('how-its-works')"
                    >
                        <span class="nav-link text-[#110e2e] transition-all hover:text-[#0099ff] cursor-pointer">
                            How It’s Work
                        </span>
                    </li>
                    <li
                        class="nav-item text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none mt-[21px] lg:mt-0 first:mt-0 lg:ml-[16px] lg:mr-[16px] xl:ml-[20px] xl:mr-[20px] 2xl:ml-[25px] 2xl:mr-[25px] first:ml-0 last:mr-0"
                        (click)="scrollTo('testimonials')"
                    >
                        <span class="nav-link text-[#110e2e] transition-all hover:text-[#0099ff] cursor-pointer">
                            Testimonials
                        </span>
                    </li>
                    <li
                        class="nav-item text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none mt-[21px] lg:mt-0 first:mt-0 lg:ml-[16px] lg:mr-[16px] xl:ml-[20px] xl:mr-[20px] 2xl:ml-[25px] 2xl:mr-[25px] first:ml-0 last:mr-0"
                        (click)="scrollTo('faq')"
                    >
                        <span class="nav-link text-[#110e2e] transition-all hover:text-[#0099ff] cursor-pointer">
                            FAQ
                        </span>
                    </li>
                    <li
                        class="nav-item text-[14px] md:text-[15px] lg:text-[16px] font-semibold leading-none mt-[21px] lg:mt-0 first:mt-0 lg:ml-[16px] lg:mr-[16px] xl:ml-[20px] xl:mr-[20px] 2xl:ml-[25px] 2xl:mr-[25px] first:ml-0 last:mr-0"
                    >
                        <span
                            class="nav-link text-[#110e2e] transition-all hover:text-[#0099ff] cursor-pointer"
                            (click)="openPopup()"
                        >
                            Contact
                            <img src="assets/images/shapes/shape4.png" class="hidden lg:inline-block absolute left-0 right-0 top-1/2 -translate-y-2/4 -z-[1] transition-all opacity-0 ml-auto mr-auto mt-[2px]" alt="image">
                        </span>
                    </li>
                </ul>
                <div class="other-options self-center mt-[21px] lg:mt-0 lg:ml-[30px] xl:ml-[40px] 2xl:ml-[60px]">
                    <a
                        href="javascript:void(0);"
                        class="relative inline-block border border-[#ff2b60] text-[#ff2b60] rounded-[50px] font-medium text-[14px] md:text-[15px] lg:text-[16px] py-[12px] md:py-[13px] lg:py-[14px] xl:py-[15px] px-[35px] transition-all hover:bg-[#ff2b60] hover:text-white"
                        (click)="openSigninSignupPopup()"
                    >
                        Signup/Login
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Contact Popup -->
<div
    class="overlay-popup fixed top-0 bottom-0 left-0 right-0 flex items-center z-[9992] px-[10px]"
    *ngIf="isOpen"
>
    <div class="w-full sm:w-[500px] md:w-[600px] lg:w-[700px] p-[20px] sm:p-[30px] md:p-[40px] lg:p-[50px] relative bg-white ml-auto mr-auto">
        <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] xl:text-[24px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
            Let’s get started!
        </h3>
        <form>
            <div class="mb-[15px] md:mb-[20px] lg:mb-[25px]">
                <input type="text" placeholder="Your name *" class="block w-full text-[13px] md:text-[14px] lg:text-[15px] bg-[#f7f7f7] h-[50px] md:h-[60px] outline-0 text-[#110e2e] px-[15px] md:px-[20px] placeholder:text-[#666666] placeholder:transition-all focus:placeholder:text-transparent">
            </div>
            <div class="mb-[15px] md:mb-[20px] lg:mb-[25px]">
                <input type="email" placeholder="Your email *" class="block w-full text-[13px] md:text-[14px] lg:text-[15px] bg-[#f7f7f7] h-[50px] md:h-[60px] outline-0 text-[#110e2e] px-[15px] md:px-[20px] placeholder:text-[#666666] placeholder:transition-all focus:placeholder:text-transparent">
            </div>
            <div class="mb-[15px] md:mb-[20px] lg:mb-[25px]">
                <textarea cols="30" rows="4" placeholder="Your message *" class="block w-full text-[13px] md:text-[14px] lg:text-[15px] bg-[#f7f7f7] outline-0 text-[#110e2e] p-[15px] md:p-[20px] placeholder:text-[#666666] placeholder:transition-all focus:placeholder:text-transparent"></textarea>
            </div>
            <button
                type="submit"
                class="inline-block bg-[#0099ff] text-white rounded-[50px] font-medium text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] py-[14px] md:py-[15px] lg:py-[16px] px-[35px] md:px-[40px] lg:px-[45px] transition-all hover:bg-[#ff2b60]"
            >
                Send Message
            </button>
        </form>
        <button
            (click)="closePopup()"
            type="button"
            class="absolute right-[10px] top-[10px] leading-none text-[25px] md:text-[35px] transition-all text-[#110e2e] hover:text-[red]"
        >
            <i class="ri-close-fill -mt-[1px]"></i>
        </button>
    </div>
</div>

<!-- Signin/Signup Popup -->
<div
    class="overlay-popup fixed top-0 bottom-0 left-0 right-0 flex items-center z-[9992] px-[10px]"
    *ngIf="isSigninSignupOpen"
>
    <div class="w-full sm:w-[500px] md:w-[600px] lg:w-[700px] p-[20px] sm:p-[30px] md:p-[40px] lg:p-[50px] relative bg-white ml-auto mr-auto">
        <ul class="mb-[20px] md:mb-[30px]">
            <li
                class="inline-block font-semibold text-[15px] rounded-[50px] md:text-[18px] cursor-pointer text-[#110e2e] px-[35px] md:px-[40px] py-[12px]"
                (click)="switchTab($event, 'tab1')"
                [ngClass]="{'bg-[#ff2b60] text-white': currentTab === 'tab1'}"
            >
                Sign in
            </li>
            <li
                class="inline-block font-semibold text-[15px] rounded-[50px] md:text-[18px] cursor-pointer text-[#110e2e] px-[35px] md:px-[40px] py-[12px]"
                (click)="switchTab($event, 'tab2')"
                [ngClass]="{'bg-[#ff2b60] text-white': currentTab === 'tab2'}"
            >
                Sign up
            </li>
        </ul>
        <div
            id="tab1"
            *ngIf="currentTab === 'tab1'"
        >
            <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] xl:text-[25px] mb-[7px]">
                Sign in
            </h3>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] text-[#666666] leading-[1.8] mb-[15px] md:mb-[20px] lg:mb-[25px]">
                Welcome back!
            </p>
            <form>
                <button type="button" class="block text-center w-full bg-[#f8f9f9] border-[2px] border-[#f8f9f9] text-[14px] md:text-[15px] lg:text-[16px] rounded-[5px] px-[30px] py-[2px] md:py-[6px] transition-all hover:border-[#ff2b60]">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block mr-[10px] w-[28px] md:w-[35px]">
                        <path d="M37.9766 16.4093H36.4998V16.3332H19.9998V23.6665H30.3609C28.8493 27.9354 24.7876 30.9998 19.9998 30.9998C13.9251 30.9998 8.99984 26.0746 8.99984 19.9998C8.99984 13.9251 13.9251 8.99984 19.9998 8.99984C22.8039 8.99984 25.355 10.0577 27.2974 11.7856L32.483 6.6C29.2087 3.54842 24.8288 1.6665 19.9998 1.6665C9.87526 1.6665 1.6665 9.87525 1.6665 19.9998C1.6665 30.1244 9.87526 38.3332 19.9998 38.3332C30.1244 38.3332 38.3332 30.1244 38.3332 19.9998C38.3332 18.7706 38.2067 17.5707 37.9766 16.4093Z" fill="#FFC107"></path>
                        <path d="M3.78076 11.4666L9.80418 15.884C11.434 11.8488 15.3812 8.99984 20.0003 8.99984C22.8043 8.99984 25.3554 10.0577 27.2978 11.7856L32.4834 6.60001C29.2091 3.54842 24.8293 1.6665 20.0003 1.6665C12.9584 1.6665 6.85159 5.64209 3.78076 11.4666Z" fill="#FF3D00"></path>
                        <path d="M20 38.3337C24.7355 38.3337 29.0383 36.5215 32.2915 33.5744L26.6174 28.7729C24.7149 30.2197 22.3901 31.0023 20 31.0004C15.2315 31.0004 11.1825 27.9598 9.65721 23.7166L3.67871 28.3228C6.71288 34.2601 12.8747 38.3337 20 38.3337Z" fill="#4CAF50"></path>
                        <path d="M37.9768 16.4093H36.5V16.3333H20V23.6666H30.3611C29.638 25.6983 28.3356 27.4737 26.6147 28.7733L26.6174 28.7715L32.2916 33.573C31.8901 33.9378 38.3333 29.1666 38.3333 19.9999C38.3333 18.7707 38.2068 17.5708 37.9768 16.4093Z" fill="#1976D2"></path>
                    </svg>
                    Sign in with Google
                </button>
                <div class="relative leading-none z-[1] my-[15px] md:my-[20px] lg:my-[25px] text-center before:absolute before:left-0 before:right-0 before:top-1/2 before:-translate-y-2/4 before:h-[1px] before:bg-[#eeeeee] before:-z-[1]">
                    <span class="inline-block bg-white px-[15px] text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px]">
                        OR
                    </span>
                </div>
                <input type="email" placeholder="Enter your email *" class="block w-full text-[13px] md:text-[14px] lg:text-[15px] border border-[#eeeeee] h-[50px] md:h-[60px] outline-0 text-[#110e2e] px-[15px] md:px-[20px] placeholder:text-[#666666] placeholder:transition-all focus:placeholder:text-transparent">
                <button type="submit" class="mt-[15px] md:mt-[20px] inline-block bg-[#0099ff] text-white rounded-[50px] font-medium text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] py-[14px] md:py-[15px] lg:py-[16px] px-[35px] md:px-[40px] lg:px-[45px] transition-all hover:bg-[#ff2b60]">
                    Sign in
                </button>
            </form>
        </div>
        <div
            id="tab2"
            *ngIf="currentTab === 'tab2'"
        >
            <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] xl:text-[25px] mb-[7px]">
                Create account
            </h3>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] text-[#666666] leading-[1.8] mb-[15px] md:mb-[20px] lg:mb-[25px]">
                No credit card required
            </p>
            <form>
                <button type="button" class="block text-center w-full bg-[#f8f9f9] border-[2px] border-[#f8f9f9] text-[14px] md:text-[15px] lg:text-[16px] rounded-[5px] px-[30px] py-[2px] md:py-[6px] transition-all hover:border-[#ff2b60]">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-block mr-[10px] w-[28px] md:w-[35px]">
                        <path d="M37.9766 16.4093H36.4998V16.3332H19.9998V23.6665H30.3609C28.8493 27.9354 24.7876 30.9998 19.9998 30.9998C13.9251 30.9998 8.99984 26.0746 8.99984 19.9998C8.99984 13.9251 13.9251 8.99984 19.9998 8.99984C22.8039 8.99984 25.355 10.0577 27.2974 11.7856L32.483 6.6C29.2087 3.54842 24.8288 1.6665 19.9998 1.6665C9.87526 1.6665 1.6665 9.87525 1.6665 19.9998C1.6665 30.1244 9.87526 38.3332 19.9998 38.3332C30.1244 38.3332 38.3332 30.1244 38.3332 19.9998C38.3332 18.7706 38.2067 17.5707 37.9766 16.4093Z" fill="#FFC107"></path>
                        <path d="M3.78076 11.4666L9.80418 15.884C11.434 11.8488 15.3812 8.99984 20.0003 8.99984C22.8043 8.99984 25.3554 10.0577 27.2978 11.7856L32.4834 6.60001C29.2091 3.54842 24.8293 1.6665 20.0003 1.6665C12.9584 1.6665 6.85159 5.64209 3.78076 11.4666Z" fill="#FF3D00"></path>
                        <path d="M20 38.3337C24.7355 38.3337 29.0383 36.5215 32.2915 33.5744L26.6174 28.7729C24.7149 30.2197 22.3901 31.0023 20 31.0004C15.2315 31.0004 11.1825 27.9598 9.65721 23.7166L3.67871 28.3228C6.71288 34.2601 12.8747 38.3337 20 38.3337Z" fill="#4CAF50"></path>
                        <path d="M37.9768 16.4093H36.5V16.3333H20V23.6666H30.3611C29.638 25.6983 28.3356 27.4737 26.6147 28.7733L26.6174 28.7715L32.2916 33.573C31.8901 33.9378 38.3333 29.1666 38.3333 19.9999C38.3333 18.7707 38.2068 17.5708 37.9768 16.4093Z" fill="#1976D2"></path>
                    </svg>
                    Sign in with Google
                </button>
                <div class="relative leading-none z-[1] my-[15px] md:my-[20px] lg:my-[25px] text-center before:absolute before:left-0 before:right-0 before:top-1/2 before:-translate-y-2/4 before:h-[1px] before:bg-[#eeeeee] before:-z-[1]">
                    <span class="inline-block bg-white px-[15px] text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px]">
                        OR
                    </span>
                </div>
                <input type="email" placeholder="Enter your email *" class="block w-full text-[13px] md:text-[14px] lg:text-[15px] border border-[#eeeeee] h-[50px] md:h-[60px] outline-0 text-[#110e2e] px-[15px] md:px-[20px] placeholder:text-[#666666] placeholder:transition-all focus:placeholder:text-transparent">
                <button type="submit" class="mt-[15px] md:mt-[20px] inline-block bg-[#0099ff] text-white rounded-[50px] font-medium text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] py-[14px] md:py-[15px] lg:py-[16px] px-[35px] md:px-[40px] lg:px-[45px] transition-all hover:bg-[#ff2b60]">
                    Sign up
                </button>
            </form>
        </div>
        <button
            (click)="closeSigninSignupPopup()"
            type="button"
            class="absolute right-[10px] top-[10px] leading-none text-[25px] md:text-[35px] transition-all text-[#110e2e] hover:text-[red]"
        >
            <i class="ri-close-fill -mt-[1px]"></i>
        </button>
    </div>
</div>