<app-awcl-navbar></app-awcl-navbar> <!-- ancal means AI Writer & Copywriting Landing -->

<div class="bg-[#f4fffb]">

    <app-awcl-banner></app-awcl-banner>

    <app-awcl-features id="features"></app-awcl-features>

    <app-awcl-about></app-awcl-about>

    <app-awcl-testimonials id="testimonials"></app-awcl-testimonials>

    <app-awcl-what-we-do></app-awcl-what-we-do>

    <div class="bg-[#d1fffe]">
        
        <app-awcl-pricing id="pricing"></app-awcl-pricing>

        <app-awcl-get-started></app-awcl-get-started>

    </div>

    <app-awcl-faq></app-awcl-faq>

    <app-awcl-blog id="blog"></app-awcl-blog>

    <div class="bg-[#d1fffe]">

        <app-awcl-cta></app-awcl-cta>
        
        <app-awcl-footer></app-awcl-footer>

    </div>

</div>