<div class="container mx-auto px-[12px] 2xl:px-0">
    <div class="bg-white rounded-[7px] py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px] 2xl:py-[150px] px-[15px] md:px-[40px] lg:px-[50px] xl:px-[70px] 2xl:px-[90px]">
        <div class="text-center mb-[10px] lg:mb-[15px] xl:mb-[25px]" data-aos="fade-up" data-aos-duration="500">
            <h2 class="font-bold text-[#110e2e] text-[24px] md:text-[30px] lg:text-[34px] leading-[1.3] mb-[10px] lg:mb-[12px]">
                More than 2.5 million global brands trusted us
            </h2>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] xl:text-[16px] text-[#666666] leading-[1.8] ml-auto mr-auto lg:max-w-[650px]">
                AI chatbots can handle a large number of conversations simultaneously, allowing businesses to efficiently scale their customer support operations.
            </p>
        </div>
        <div class="text-center space-x-[15px] space-y-[15px] md:space-x-[20px] md:space-y-[20px] lg:space-x-[25px] lg:space-y-[25px]">
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500">
                <img src="assets/images/brands/google.png" class="inline transition-all group-hover:scale-110" alt="google">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <img src="assets/images/brands/moodle.png" class="inline transition-all group-hover:scale-110" alt="moodle">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <img src="assets/images/brands/drupal.png" class="inline transition-all group-hover:scale-110" alt="drupal">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <img src="assets/images/brands/rails.png" class="inline transition-all group-hover:scale-110" alt="rails">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <img src="assets/images/brands/oracle.png" class="inline transition-all group-hover:scale-110" alt="oracle">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <img src="assets/images/brands/microsoft.png" class="inline transition-all group-hover:scale-110" alt="microsoft">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500">
                <img src="assets/images/brands/facebook.png" class="inline transition-all group-hover:scale-110" alt="facebook">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <img src="assets/images/brands/typo3.png" class="inline transition-all group-hover:scale-110" alt="typo3">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <img src="assets/images/brands/pimcore.png" class="inline transition-all group-hover:scale-110" alt="pimcore">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <img src="assets/images/brands/chamilo.png" class="inline transition-all group-hover:scale-110" alt="chamilo">
            </div>
            <div class="group bg-[#fff6ee] inline-block rounded-[4px] py-[10px] md:py-[15px] px-[13px] md:px-[30px] lg:px-[34.5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <img src="assets/images/brands/mahara.png" class="inline transition-all group-hover:scale-110" alt="mahara">
            </div>
        </div>
    </div>
</div>