<app-acl-navbar></app-acl-navbar> <!-- ancal means AI Chatbot Landing -->

<div class="bg-[#fff6ee]">

    <app-acl-banner></app-acl-banner>

    <app-acl-features id="features"></app-acl-features>

    <app-acl-about></app-acl-about>

    <div class="bg-gradient relative z-[1] before:absolute before:left-0 before:right-0 before:top-0 before:bottom-0 before:-z-[1] before:bg-no-repeat before:bg-cover before:bg-top before:mt-[120px]">

        <app-acl-brands></app-acl-brands>
    
        <app-acl-what-we-do></app-acl-what-we-do>

    </div>

    <app-acl-testimonials></app-acl-testimonials>

    <app-acl-integrations id="integrations"></app-acl-integrations>

    <div class="bg-gradient2 relative z-[1] before:absolute before:left-0 before:right-0 before:top-0 before:bottom-0 before:-z-[1] before:bg-no-repeat before:bg-cover before:bg-top before:mt-[220px]">

        <app-acl-pricing id="pricing"></app-acl-pricing>

        <app-acl-faq></app-acl-faq>

        <app-acl-blog id="blog"></app-acl-blog>

    </div>

    <app-acl-cta></app-acl-cta>

    <app-acl-footer></app-acl-footer>

</div>