.box-shadow {
    box-shadow: 0px 9.40625px 18.55781px 0px rgba(0, 0, 0, 0.02), 0px 43px 52.1625px 0px rgba(0, 0, 0, 0.03), 0px 108.84375px 139.93594px 0px rgba(0, 0, 0, 0.03), 0px 215px 321px 0px rgba(0, 0, 0, 0.05);
}
.btn-box-shadow {
    box-shadow: 0px 0px 0px 0px rgba(0, 153, 255, 0.10), 1px 6px 13px 0px rgba(0, 153, 255, 0.10), 5px 24px 24px 0px rgba(0, 153, 255, 0.09), 11px 54px 33px 0px rgba(0, 153, 255, 0.05), 20px 96px 39px 0px rgba(0, 153, 255, 0.01), 31px 150px 43px 0px rgba(0, 153, 255, 0.00);
}
.bg-gradient1 {
    background: linear-gradient(180deg, #6428B4 0%, rgba(117, 230, 227, 0.52) 100%);
}
.bg-gradient2 {
    background: linear-gradient(180deg, #FF6536 0%, #D7DBFF 100%);
}
.bg-gradient3 {
    background: linear-gradient(180deg, #09F 0%, rgba(217, 217, 217, 0.00) 100%);
}