<div class="relative z-[1] before:absolute before:left-0 before:right-0 before:top-0 before:h-[50%] before:-z-[1] before:bg-[#def2ff]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="box-shadow bg-white rounded-[15px]">
            <div class="grid grid-cols-1 md:grid-cols-3">
                <div class="md:col-span-2 self-center py-[30px] md:py-0 px-[25px] md:px-[35px] lg:px-[50px] xl:px-[75px] 2xl:px-[95px] 3xl:px-[105px]">
                    <span class="block text-[17px] md:text-[18px] lg:text-[20px] leading-none text-[#666666] mb-[20px] md:mb-[25px] lg:mb-[30px]" data-aos="fade-in" data-aos-duration="500">
                        Featured On:
                    </span>
                    <div class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-[20px] md:gap-[25px] lg:gap-[30px]">
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500">
                            <img src="assets/images/brands/google.png" class="inline transition-all group-hover:scale-110" alt="google">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">
                            <img src="assets/images/brands/moodle.png" class="inline transition-all group-hover:scale-110" alt="moodle">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="300">
                            <img src="assets/images/brands/drupal.png" class="inline transition-all group-hover:scale-110" alt="drupal">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="400">
                            <img src="assets/images/brands/rails.png" class="inline transition-all group-hover:scale-110" alt="rails">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500">
                            <img src="assets/images/brands/oracle.png" class="inline transition-all group-hover:scale-110" alt="oracle">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">
                            <img src="assets/images/brands/microsoft.png" class="inline transition-all group-hover:scale-110" alt="microsoft">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="300">
                            <img src="assets/images/brands/facebook.png" class="inline transition-all group-hover:scale-110" alt="facebook">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="400">
                            <img src="assets/images/brands/typo3.png" class="inline transition-all group-hover:scale-110" alt="typo3">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500">
                            <img src="assets/images/brands/pimcore.png" class="inline transition-all group-hover:scale-110" alt="pimcore">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">
                            <img src="assets/images/brands/chamilo.png" class="inline transition-all group-hover:scale-110" alt="chamilo">
                        </div>
                        <div class="self-center group" data-aos="fade-in" data-aos-duration="500" data-aos-delay="300">
                            <img src="assets/images/brands/mahara.png" class="inline transition-all group-hover:scale-110" alt="mahara">
                        </div>
                    </div>
                </div>
                <div class="rounded-[15px] bg-[#0099ff] text-center py-[40px] md:py-[85px] xl:ml-[15px] self-center">
                    <div class="border-b border-[#69aef3] pb-[25px] md:pb-[35px] lg:pb-[45px] mb-[25px] md:mb-[45px] lg:mb-[35px] last:mb-0 last:pb-0 last:border-none" data-aos="fade-in" data-aos-duration="500">
                        <div class="leading-none text-white font-bold text-[35px] md:text-[40px] lg:text-[50px] xl:text-[55px] mb-[12px]">
                            15m+
                        </div>
                        <span class="block leading-none text-white text-[16px] md:text-[17px] lg:text-[18px] xl:text-[20px]">
                            Users
                        </span>
                    </div>
                    <div class="border-b border-[#69aef3] pb-[25px] md:pb-[35px] lg:pb-[45px] mb-[25px] md:mb-[45px] lg:mb-[35px] last:mb-0 last:pb-0 last:border-none" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">
                        <div class="leading-none text-white font-bold text-[35px] md:text-[40px] lg:text-[50px] xl:text-[55px] mb-[12px]">
                            55m+
                        </div>
                        <span class="block leading-none text-white text-[16px] md:text-[17px] lg:text-[18px] xl:text-[20px]">
                            Profile Picture Generated
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>