<app-ancal-navbar></app-ancal-navbar> <!-- ancal means AI Noise Cancelling App Landing -->

<app-ancal-banner></app-ancal-banner>

<app-ancal-features id="features"></app-ancal-features>

<app-ancal-brands></app-ancal-brands>

<app-ancal-download></app-ancal-download>

<app-ancal-what-we-do></app-ancal-what-we-do>

<app-ancal-supported></app-ancal-supported>

<app-ancal-test-canora></app-ancal-test-canora>

<app-ancal-testimonials></app-ancal-testimonials>

<app-ancal-cta></app-ancal-cta>

<app-ancal-pricing id="pricing"></app-ancal-pricing>

<app-ancal-faq></app-ancal-faq>

<app-ancal-blog id="blog"></app-ancal-blog>

<app-ancal-footer></app-ancal-footer>