<app-appml-navbar></app-appml-navbar>

<div class="bg-[#def2ff]">

    <app-appml-banner></app-appml-banner>

    <app-appml-features id="features"></app-appml-features>

    <app-appml-about></app-appml-about>

    <div class="bg-white">

        <app-appml-funfacts></app-appml-funfacts>

        <app-appml-how-its-works id="how-its-works"></app-appml-how-its-works>
        
        <app-appml-get-started></app-appml-get-started>
        
    </div>

    <app-appml-testimonials id="testimonials"></app-appml-testimonials>

    <app-appml-faq id="faq"></app-appml-faq>

    <app-appml-cta></app-appml-cta>

    <div class="bg-white">

        <app-appml-footer></app-appml-footer>

    </div>

</div>