<div class="bg-image py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px] 2xl:pb-[150px] 2xl:pt-[350px] relative z-[1] before:absolute before:left-0 before:right-0 before:top-[0] before:-z-[1] before:bg-cover before:bg-no-repeat before:bg-top before:h-[235px] before:hidden 2xl:before:block">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="text-center mb-[30px] md:mb-[35px] lg:mb-[40px] xl:mb-[50px] 2xl:mb-[60px] ml-auto mr-auto lg:max-w-[725px]" data-aos="fade-up" data-aos-duration="500">
            <h2 class="font-bold text-[#110e2e] text-[24px] md:text-[30px] lg:text-[32px] leading-[1.3] mb-[10px] lg:mb-[14px]">
                Frequently Asked Questions
            </h2>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8] ml-auto mr-auto md:max-w-[655px]">
                AI-powered copyrighting tools can generate content quickly and efficiently. They can analyze large volumes of data and generate relevant and engaging content in a fraction of the time it would take a human writer.
            </p>
        </div>
        <div class="accordion ml-auto mr-auto lg:max-w-[800px] xl:max-w-[875px]">
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-semibold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                    Can AI copywriting replace human writers?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(0) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            AI copywriting tools are designed to assist and enhance the work of human writers, not replace them entirely. While AI can generate content quickly and efficiently, human creativity, critical thinking, and strategic decision-making are still essential for producing high-quality and engaging copy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-semibold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                    What are the benefits of using AI copywriting?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(1) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            AI copywriting tools are designed to assist and enhance the work of human writers, not replace them entirely. While AI can generate content quickly and efficiently, human creativity, critical thinking, and strategic decision-making are still essential for producing high-quality and engaging copy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-semibold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                    Is AI copywriting content original and unique?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(2) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            AI copywriting tools are designed to assist and enhance the work of human writers, not replace them entirely. While AI can generate content quickly and efficiently, human creativity, critical thinking, and strategic decision-making are still essential for producing high-quality and engaging copy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-semibold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                    How can AI copywriting benefit businesses and marketers?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(3) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            AI copywriting tools are designed to assist and enhance the work of human writers, not replace them entirely. While AI can generate content quickly and efficiently, human creativity, critical thinking, and strategic decision-making are still essential for producing high-quality and engaging copy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-semibold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
                    Is AI copywriting suitable for all industries and content types?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(4) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            AI copywriting tools are designed to assist and enhance the work of human writers, not replace them entirely. While AI can generate content quickly and efficiently, human creativity, critical thinking, and strategic decision-making are still essential for producing high-quality and engaging copy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                <div class="accordion-header relative rounded-[4px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-[#110e2e] font-semibold text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] cursor-pointer before:top-1/2 before:absolute before:text-[22px] md:before:text-[28px] before:right-[15px] md:before:right-[30px] before:text-[#110e2e] before:-translate-y-2/4" (click)="toggleSection(5)" [ngClass]="{ 'open': isSectionOpen(5) }">
                    How can businesses ensure ethical use of AI copywriting?
                </div>
                <div class="accordion-content bg-white rounded-b-[4px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(5) }">
                    <div class="pt-[18px] border-t border-[#f7f5f0]">
                        <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                            AI copywriting tools are designed to assist and enhance the work of human writers, not replace them entirely. While AI can generate content quickly and efficiently, human creativity, critical thinking, and strategic decision-making are still essential for producing high-quality and engaging copy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>