<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px] 2xl:py-[150px] relative z-[1]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="text-center mb-[30px] md:mb-[35px] lg:mb-[40px] xl:mb-[50px] 2xl:mb-[60px] ml-auto mr-auto lg:max-w-[725px]" data-aos="fade-up" data-aos-duration="500">
            <h2 class="font-bold text-[#110e2e] text-[24px] md:text-[30px] lg:text-[32px] leading-[1.3] mb-[10px] lg:mb-[14px]">
                See why our Customers Love Us
            </h2>
            <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8] ml-auto mr-auto md:max-w-[655px]">
                With AI-powered profile picture generators, discover the essence of your digital self. Harnessing the power of artificial intelligence.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="rounded-[7px] bg-white px-[20px] py-[25px] sm:p-[25px] lg:p-[30px] xl:p-[40px] 2xl:p-[45px]" data-aos="fade-up" data-aos-duration="500">
                <img src="assets/images/ratings/rating1.png" class="mb-[15px] md:mb-[20px] lg:mb-[25px]" alt="rating">
                <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] lg:mb-[14px] xl:mb-[16px] leading-[1.3]">
                    This remarkable app has revolutionized the way I experience peace and quiet
                </h3>
                <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                    I appreciate the intuitive and user-friendly interface of the website. The layout and navigation make it easy to understand and access the different features and customization options available. It didn't take me long to familiarize myself with the tool and start creating my profile picture.
                </p>
                <img src="assets/images/ratings/trustpilot.png" class="mt-[15px] lg:mt-[25px]" alt="trustpilot">
            </div>
            <div class="rounded-[7px] bg-white px-[20px] py-[25px] sm:p-[25px] lg:p-[30px] xl:p-[40px] 2xl:p-[45px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <img src="assets/images/ratings/rating2.png" class="mb-[15px] md:mb-[20px] lg:mb-[25px]" alt="rating">
                <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] lg:mb-[14px] xl:mb-[16px] leading-[1.3]">
                    Impressive accuracy in detecting facial features and expressions
                </h3>
                <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                    I appreciate the intuitive and user-friendly interface of the website. The layout and navigation make it easy to understand and access the different features and customization options available. It didn't take me long to familiarize myself with the tool and start creating my profile picture.
                </p>
                <img src="assets/images/ratings/trustpilot.png" class="mt-[15px] lg:mt-[25px]" alt="trustpilot">
            </div>
            <div class="rounded-[7px] bg-white px-[20px] py-[25px] sm:p-[25px] lg:p-[30px] xl:p-[40px] 2xl:p-[45px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <img src="assets/images/ratings/rating1.png" class="mb-[15px] md:mb-[20px] lg:mb-[25px]" alt="rating">
                <h3 class="text-[#110e2e] font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] lg:mb-[14px] xl:mb-[16px] leading-[1.3]">
                    The use of artificial intelligence to enhance and customize profile pictures
                </h3>
                <p class="text-[13px] md:text-[14px] lg:text-[15px] text-[#666666] leading-[1.8]">
                    I appreciate the intuitive and user-friendly interface of the website. The layout and navigation make it easy to understand and access the different features and customization options available. It didn't take me long to familiarize myself with the tool and start creating my profile picture.
                </p>
                <img src="assets/images/ratings/trustpilot.png" class="mt-[15px] lg:mt-[25px]" alt="trustpilot">
            </div>
        </div>
    </div>
    <div class="absolute top-[23%] left-[2%] xl:top-[27%] xl:left-[1.5%] 2xl:top-[29.7%] 2xl:left-[1%] 3xl:left-[13.8%] -z-[1] hidden lg:block">
        <img src="assets/images/shapes/shape19.png" alt="shape">
    </div>
</div>